<<<<<<< HEAD
<% layout('layout') -%>
<% block('head').append('<link rel="stylesheet" type="text/css" href="css/list.css" />') %>
<h1>用户列表</h1>
=======
<% block('head').append('<link rel="stylesheet" type="text/css" href="css/list.css" />') %>

>>>>>>> a1a61ed2465b01a7f96a0dd5f5e68897b1c5ff0d
<% block('footer').append('<script src="js/list.js"></script>') %>
