<% layout('layout') -%>
<% block('head').append('<link rel="stylesheet" type="text/css" href="css/login.css" />') %>
<h1>注册</h1>
<div class="login">
	<form action="register/handler" method="post">

		<div class="mar-b15">
			<label>用户：<input type="text" name="username" value="" placeholder="请输入用户名" /></label>
		</div>
		<div class="mar-b15">
			<label>密码：<input type="password" name="password" value="" placeholder="请输入密码" /></label>
		</div>
		<div class="mar-b15">
			<label>验证码：<input type="text" class="ccap-txt" name="ccap" value="" placeholder="请输入验证码" /></label>
			<img src="<%=data.ccapPath%>" class="ccap" id="ccap" />
		</div>
		<div class="mar-b15 err">
			<%=data.err%>
		</div>
		<div>
			<input class="btn" type="submit" value="注册"  />
		</div>
	</form>
</div>